/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.header-submenu {
    position: absolute;
    background: #313131;
    width: 220px;
    padding-left: 0px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    list-style-type: none;
}

li:hover .header-submenu {
    transform: scaleY(1);
}

.header-submenu li {
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: justify;
    border-bottom: 1px gray solid;
}

.header-submenu li:hover {
    background: gray;
}

.header-submenu a {
    text-decoration: none;
    color: #9d9d9d;
}

.header-submenu a:hover {
    color: white;
}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {
    line-height: normal;
}


.filter-form .form-inline * {
    margin-top: 10px;
}

.filter-form .form-inline label {
    width: 150px;
}

th a {
    font-size: 15px;
    color: black;
    transform: scaleY(1);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

th a:hover {
    font-size: 17px;
    text-decoration: none;
}