@model RepairServiceCenterASP.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание</h2>

<h4>Заказ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOrder" class="control-label"></label>
                <input asp-for="DateOrder" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                <span asp-validation-for="DateOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullNameCustumer" class="control-label"></label>
                <input asp-for="FullNameCustumer" class="form-control" />
                <span asp-validation-for="FullNameCustumer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairedModelId" class="control-label"></label>
                <select asp-for="RepairedModelId" class ="form-control" asp-items="ViewBag.RepairedModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfFaultId" class="control-label"></label>
                <select asp-for="TypeOfFaultId" class ="form-control" asp-items="ViewBag.TypeOfFaultId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServicedStoreId" class="control-label"></label>
                <select asp-for="ServicedStoreId" class ="form-control" asp-items="ViewBag.ServicedStoreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GuaranteeMark" class="control-label"></label>
                @Html.CheckBox("GuaranteeMark", false, htmlAttributes: new { @class = "form-control" })
                
                <span asp-validation-for="GuaranteeMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuaranteePeriod" class="control-label"></label>
                <input asp-for="GuaranteePeriod" class="form-control" />
                <span asp-validation-for="GuaranteePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
